"*":
  "atom-beautify":
    general:
      _analyticsUserId: "7e91a837-6687-4562-88fa-a24ec0770add"
    html:
      beautify_on_save: true
      default_beautifier: "Pretty Diff"
      end_with_newline: true
      indent_inner_html: true
    js:
      beautify_on_save: true
      end_with_newline: true
      indent_with_tabs: true
    json:
      end_with_newline: true
      indent_with_tabs: true
    typescript:
      beautify_on_save: true
  "atom-package-deps":
    ignored: []
  core:
    projectHome: "/Users/magnus/code"
    telemetryConsent: "limited"
    themes: [
      "spacegray-dark-neue-ui"
      "spacegray-dark-neue-syntax"
    ]
  editor:
    fontFamily: "Droid Sans Mono"
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "ef290949-352a-569a-60cc-777b137b21b9"
  linter: {}
  "linter-ui-default": {}
  "tree-view":
    autoReveal: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  "xatom-debug":
    showToolbarIcon: false
    toolbarStyle: "BottomPanel"
".source.ts":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
".source.tsx":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
